
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='extern/kube/css/kube.min.css')
    script(src='extern/jquery-1.11.1.min.js')
    script(src='extern/kube/js/kube.min.js')
    script(src='extern/slides/jquery.slides.min.js')
    script(src='extern/masonry.pkgd.min.js')
    script(src='bower_components/imagesloaded/imagesloaded.pkgd.min.js')
    title UW Breakers | Events
  body
    .units-row
      .unit-80.centered
        .units-row
          .unit-70.centered
            nav.navbar.fullwidth
              ul
                li
                  a(href='about.html') ABOUT
                li.active
                  a(href='events.html') EVENTS
                //
                  <li><a href="index.html"><div class="logo-title">UWBREAKERS</div></a></li>
                li
                  a(href='index.html')
                    .logo-title
                      img#logo(src='img/uwb-logo-transparent.png', alt='logo', width='120px')
                li
                  a(href='photos.html') PHOTOS
                li
                  a(href='contact.html') CONTACT
        hr
        .units-row
          .unit-70.centered.about-dec
        //-h1.text-centered COMING SOON
        h1.text-centered Events
        br
        a(href="https://www.facebook.com/events/722407767845599/")
          h2 Community
        h4.subheading Sunday, November 2
        p.
          UW Breakers, UW Hip Hop, and UW Poppers collaborated to host Community! Community is an all-styles random 2v2 battle.
        //-p.
          //-Come out to meet & mingle with your fellow dancers from the UW community. Whether you want to battle or just watch, Community will be a great event where we bring together different styles of dance in a fun and open environment. 

        a(href="https://www.facebook.com/events/728376150584728/")
          h2 Break the Fall
        h4 Sunday, November 16
        p.
          UWB hosted a 2v2 bboy battle and workshop.
    br
    br
    br
    br
    footer
      a(href='https://www.facebook.com/groups/84667775571/')
        i.fa.fa-facebook.fa-2x
      a(href='mailto:uwbboys@gmail.com')
        i.fa.fa-envelope-o.fa-2x
