//Color
@color-waterloo: #f1c40f;

@color-link: #000000;
@color-link-hover: #f1c40f;
@color-active: #0b0b0b;


// Fonts
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);


// Reset Styles

html {
  -webkit-font-smoothing: antialiased;
}
p {
  color: #444444;
  letter-spacing: 0.0625em;
  font-family: 'Droid Sans', serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', serif;
  font-weight: 300;
}

h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2.5em;
  margin: 0 0 0 0; // to remove large margins from kube.css
}
a:hover,
button:hover {
  text-decoration: none;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

.active {
  color: @color-active;
}






// General

.navbar {
  padding-top: 2em;
  margin-bottom: 0.4em;
  font-weight: 400;
  letter-spacing: 0.2em;
  background: #ffffff;
  color: #222222;
  font-family: 'Source Sans Pro', sans-serif;

  
  a:hover {
    text-decoration: none;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
  }

  img {
  vertical-align: middle;
  width: 5em;
  }

  .logo-title {
    letter-spacing: 0.4em;
    font-weight: 700;
    font-size: 1.05em;
  }

  
}

footer {
  width: 100%;
  height: 10em;
  background-color: @color-black;
  text-align: center;
  padding-top: 3em;

  i {
    color: @color-white;
    padding: 0.5em;
  }

  i:hover {
    color: @color-waterloo;
    text-decoration: none;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
  }
}

/* slidejs */
 #slides {
      display: none
    }

.slide {

  img {
    position: relative;
    width: 100%;
  }

  h1{
    position: absolute;
    width: 100%;
    left: 0;
    top: 10em;
    opacity: 0;
  }

  :hover h1{
    opacity: 1;
  }

  
}


// About Page


.about-desc {

  h1,
  h2 {
    padding-top: 1.1em;
  }

  p {
    padding-top: 2.2em;
    padding-bottom: 1em;
  }
}



// Contact Page 

#map {
  width: auto;
  height: 20em;

}
