.jtron {
  background: -webkit-radial-gradient(#6b6b6b, #111111); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#6b6b6b, #111111); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#6b6b6b, #111111); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#6b6b6b, #111111); /* Standard syntax */
}

h1 {
  /*color: black;*/
  font-weight: bold;
  text-align: center;
}

h3 {
  /*color: black;*/
  font-weight: bold;
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 10pt;
}

.footer h3 {
  font-weight: bold;
  font-size: 10pt;
}

.footer p {
  font-size: 10pt;
}

/*.footer-section {*/
  /*border-style: none solid solid solid;*/
/*}*/
